# Byte-compiled / optimized / cache files
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/

# Virtual Environment
venv/
env/
.env/

# Datasets and raw archives
data/
*.zip
*.tar
*.gz

# Output and temporary directories
test_output/
output/
runs/
logs/

# IDE / OS specific files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Ensure submission weights are NOT ignored
!weights/
!weights/model_best.pt